# PYTHON 3.9.13

# available in conda-forge
pandas==1.5.1
dash==2.7.0
dash-auth==1.4.1
dash-bootstrap-components==1.2.1
plotly==5.11.0
geopy==2.3.0
python_box==6.1.0
pyyaml==6.0

# pip exclusive (available in conda with different name)
tables==3.7.0 # pytables 3.7.0 in conda-forge

# pip only
dash-bootstrap-templates==1.0.7

# server only
gunicorn==20.1.0
